# [dbo].[Heroes]

In [0]:
USE [AetheriaDB]
GO

In [0]:
/****** Object:  Table [dbo].[Heroes]    Script Date: 24/6/2025 10:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Heroes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](50) NOT NULL,
	[Clase] [nchar](50) NOT NULL,
	[Nivel] [int] NOT NULL
) ON [PRIMARY]
GO

# [dbo].[CreateHeroe]

In [0]:
/****** Object:  StoredProcedure [dbo].[CreateHeroe]    Script Date: 24/6/2025 10:41:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateHeroe]
	@Nombre NVARCHAR(50),
	@Clase NVARCHAR(50),
	@Nivel INT,

	@NewHeroeId INT OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO Heroes (Nombre,Clase,Nivel) VALUES (@Nombre, @Clase, @Nivel);

	SET @NewHeroeId = SCOPE_IDENTITY();
END
GO

# [dbo].[DeleteHeroeById]

In [0]:
/****** Object:  StoredProcedure [dbo].[DeleteHeroeById]    Script Date: 24/6/2025 10:41:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteHeroeById]
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DELETE FROM Heroes WHERE Id = @Id;

	SELECT @Id AS DeleteHeroeById;
END
GO

# [dbo].[GetAllHeroes]

In [0]:
/****** Object:  StoredProcedure [dbo].[GetAllHeroes]    Script Date: 24/6/2025 10:41:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllHeroes]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM Heroes;
END
GO

# [dbo].[GetHeroeById]

In [0]:
/****** Object:  StoredProcedure [dbo].[GetHeroeById]    Script Date: 24/6/2025 10:41:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetHeroeById]
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Heroes WHERE Id = @Id;
END
GO

# [dbo].[UpdateHeroe]

In [0]:
/****** Object:  StoredProcedure [dbo].[UpdateHeroe]    Script Date: 24/6/2025 10:41:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateHeroe]
	@Id INT,
	@Nombre VARCHAR(50),
	@Clase VARCHAR(50),
	@Nivel INT
	
AS
BEGIN
	
	SET NOCOUNT ON;

	UPDATE Heroes 
	SET Nombre = @Nombre, Clase = @Clase, Nivel = @Nivel
	WHERE Id = @Id

	SELECT @@ROWCOUNT AS RowsAffected;
END
GO